package view

templ Home() {
    @Base() {
        <!-- Forecast Feed -->
        <div
             hx-get="/api/forecasts?limit=9&offset=0"
             hx-trigger="load"
             hx-target="#forecast-feed"
             hx-indicator="#loading-indicator"
             hx-push-url={"/"}
             hx-swap="innerHTML">
        </div>
    }
}










