package view

templ ViewContainer() {
    <div class="relative min-h-[600px] bg-gray-50">
        <div class="relative w-full max-w-screen-xl mx-auto h-auto shadow-md overflow-hidden">
            { children... }
        </div>
    </div>
}