package view

templ ViewContainer() {
	<div class="relative bg-gradient-to-b from-gray-300 via-gray-400 to-gray-500">
		<div class="relative w-full max-w-screen-xl mx-auto h-auto shadow-md overflow-visible">
			{ children... }
		</div>
	</div>
}
