/* General styles for the header */
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px rgb(128, 128, 128);
}

/* Styling for the container */
.fixed-header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container for title and logo */
.title-and-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Title */
.title-and-logo h1 {
    margin-left: 15px; /* Add some space between the title and the logo */
    font-size: 50px;
    color: white;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
}

/* Adjust spacing between nav items */
.fixed-header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.fixed-header nav a:hover {
    text-decoration: underline;
}

/* Additional spacing adjustments */
.fixed-header .container {
    justify-content: space-between;
}