/* Container for hand and spinning ball */
.logo-container {
    position: relative;
    display: inline-block;
}

.logo-container a {
    position: absolute;
    display: block;
    height: 55px;
    width: 55px;
    top: -20px;
    left: 16px;
    z-index: 2;
}

/* Static hand image */
.hand-image {
    z-index: 3;
    height: 50px;
    position: relative;
    top: 17px;
    pointer-events: none;
}

/* Spinning crystal ball */
.spinning-ball {
    position: absolute;
    height: 55px; /* Ensure it matches the hand size */
    width: 55px;
    animation: rotation 10s linear infinite; /* Infinite rotation */
    transform-origin: center;
    top: 4px; /* Adjust this to align the ball over the hand */
    left: -6px;
    z-index: 1;
    pointer-events: all;
    cursor: pointer;
}

/* Hover effect on the spinning ball */
.logo-container a:hover .spinning-ball {
    filter: brightness(80%); /* Slightly dim the colors */
    transform: scale(1.05); /* Slightly enlarge the ball on hover */
    transition: transform 0.2s, filter 0.2s ease-in-out;
}