/* Hide menu icon on larger screens */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Navigation styles */
.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu a,
.category-dropdown select {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 500;
    text-transform: none; /* Normal case for a classic look */
    transition: color 0.3s ease;
    padding: 0 15px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Hover effect for links and dropdown to match */
.nav-menu a:hover,
.category-dropdown select:hover {
    color: #cccccc; /* Neutral, subtle color for hover */
    text-decoration: none !important;
}

/* Adjustments for mobile layout */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1001;
    }

    .fixed-header {
        padding: 50px 0;
    }

    .title-and-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        align-items: center;
    }

    .title-and-logo h1 {
        font-size: 45px;
        margin-left: 15px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 100px;
        left: 0;
        height: calc(100% - 100px);
        background-color: #333;
        width: 250px;
        padding: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-menu.active {
        transform: translateX(0);
    }

    .category-dropdown select {
        text-align: left; /* Centers the text */
    }
}