@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-palatino;
    }
}

/* Hover issues touch devices  */
@media (hover: none) {
    .logo-ball:hover {
        filter: none !important;
    }

    .logo-ball:active {
        opacity: 0.4 !important;
    }

    .carousel-btn:hover {
        background-color: #1f2937 !important;
    }

    .carousel-btn:active {
        background-color: #4b5563 !important;
    }
}


@layer components {
    .htmx-indicator {
        @apply opacity-0 pointer-events-none transition-opacity duration-500;
    }

    .htmx-request .htmx-indicator {
        @apply opacity-100;
    }
}


@layer utilities {
    .shrinkable-header.scrolled {
        @apply py-1.5;
    }
}

@layer utilities {
    /* Make sure the container transitions its transform smoothly */
    .hand-ball-container {
        @apply transition-transform duration-300;
        transform-origin: top right;

    }

    /* When the header shrinks, nudge the hand+ball down so they stay put */
    .shrinkable-header.scrolled .hand-ball-container { /* ~12px is 0.75rem difference */
        transform: translateY(12px) scale(0.85);
    }

    .hand-image {
        @apply transition-all duration-300; /* or transition-filter, etc. */
    }

    /* (B) Dim ONLY the hand when the header is scrolled */
    .shrinkable-header.scrolled .hand-image {
        filter: brightness(0.85);
    }
}